.latestnews{
	border-radius: 7px;
	background-color: rgb(213, 232, 230);
	align:right;
	position:fixed;
	top: 100px;
	padding-top: 10px;s
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
}
.latestnews a{
	color:rgb(80,80,80);
}
.latestnews a:hover{
	color:rgb(33, 79, 122);
	text-decoration: none;
}


@media screen and (min-width: 1024px){
	.latestnews{
		display: block;
		width:250px;
		right:3%;
	}
}

@media screen and (min-width: 1600px){
	.latestnews{
		display: block;
		width:350px;
		right:7%;
	}
}

.articlecontent{
	width: 60%;
	position: absolute;
	left:5%;
	top:110px;
	right: 35%;
}
.postauthor{
	text-decoration: none;
}
.postauthor:hover{
	text-decoration: none;
}
@media screen and (max-width: 1024px){
	.latestnews{ display: none; }
	.articlecontent{
		width:90%;
		position:absolute;
		right: 5%;
		left:5%;
		font-size: 30px;
	}
}
.bestposts{
	width:60%;
	position: absolute;
	left:10%;
	top:110px;
	right:35%;
	padding-left: 20px;
	padding-top:20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.user_info{
	position: absolute;
	top:150px;
	left:20%;
	right:15%;
}
.user_avatar{
	background-image: url(avatar.png);
	width: 128px;
	height: 128px;
	border-radius: 5px;
	padding: 10px;
	position: absolute;
	left:10%;
	top:150px;

}
.user_info .username{
	font-size:30px;
	color:rgb(10, 10, 10);
	padding-left:20px;
	padding-top: 10px;
}
.user_info .username .edit_prof{
	font-size: 20px;
	color:rgb(10, 10, 10);
	background-color: rgb(240, 240, 240);
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color:rgb(150, 150, 150);
	height: 35px;
	position: absolute;
	padding-left:10px;
	padding-right: 10px;
	top:15px;
	right:55%
}
.user_info .username .edit_prof a{
	text-decoration: none;
	color:rgb(10, 10, 10);
}

.user_info .user_stat{
	font-size: 13px;
	color:rgb(80, 80, 80);
	padding-left:20px;
	padding-top: 10px;
}